@font-face {
  font-family: 'HYWenHei-85W';
  src: url('/HTML/HYWenHei-HEW.woff2') format('woff2'),
      url('/HTML/HYWenHei-HEW.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}


:root{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #c21944;
  --bg-secondary: #3e192d;
  --transition-speed: 600ms 

}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #141418;

}

body::-webkit-scrollbar-thumb{
  background: #522e6b;

}


body {
    height: 100%;
    background: linear-gradient(#c21944, #3e192d);
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: auto;
    scrollbar-color: #522e6b;
} 

/* navbar */

header{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #242951;
  box-shadow: 0 5px 25px rgba(0,0,0,0.05);
  z-index: 3;
}

.logo_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_logo{
  color: #fff;
  display: flex;
  height: 60px;
  line-height: 60px;
  font-weight: 700;
  font-size: 2vw;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;  

}

.logo {
  display: flex;
  width: 120px;
  height: 60px;
  align-items: center;
  justify-content: center;
  fill: #fbfcfd;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
  

}

.logo:hover{
  fill: #02a6ec;
}

#toggle{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #02a6ec;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

#toggle:before{
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle:after{
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.2s;

}

#toggle.active::before{
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after{
  transform: translateY(0px) rotate(-45deg);
}

#toggle.active{
  background-color: #c21944;
}

#navbar{
  position: relative;
  height: 60px;
  right: 60px;
  background: #242951;
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
}

#navbar.active{
  width: 877px;
}

#navbar ul{
  position: relative;
  display: flex;
  flex-direction: row;
}

#navbar ul li{
  list-style: none;
}

#navbar ul li a{
  color: #fff;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 15px;
  letter-spacing: 2px;
}

#navbar ul li a:hover{
  color: #fff;
  background: var(--bg-primary);
}

#navbar ul li a.active{
  color: #fff;
  background: #02a6ec;

}

#navbar ul li:nth-child(5){
  font-weight: 600;
  background: #02a6ec !important;
}


/* Landing Page */

.bg-text button{
  margin-left: 7px;
  color: #fbfcfd;
  padding: 10px 25px;
  background: #c21944;
  border: 1px solid #000;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.bg-text button:hover{
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  left: 10vh;
}


header a:link, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

.bg-text {
  padding: 5vh;
  color: #fbfcfd;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 2;
}

#bg-video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.bg-text small{
  color: #dfdeff;
  margin-left: 6px;
  display: flex;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}

.bg-text h1{
  font-size: 5em;
  margin: 10px 0 30px;
  line-height: 80px;
  font-weight: 600;
  display: flex;
  color: #fff;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}

.main{
 color: #fbfcfd;

}

section{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
}

/* 1st section */
.beginnerguide{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-areas: 
    "content image";
}

.contentBx{
  grid-area: content;
  position: relative;
  background-color: #e1d3ab;
  padding: 5rem;
  z-index: 0;
}

.contentBx h2{
  position: relative;
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1.6px;
  margin-bottom: 10px;
  line-height: 120%;
  margin-top: 10px;
}

.contentBx p{
  color: #1e2c54;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1.6px;
  line-height: 120%;
}

.contentBx a{
  color: #1e2c54;
  background-image: linear-gradient(90deg, #c21944, #1944c2);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
  font-weight: 600;
}

.contentBx a:hover{
  background-size: 100% 3px;
}

.buttonBx{
  grid-area: button;
  place-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5%;
}

.buttonBx button{
  font-size: 1rem;
  color: #000;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.buttonBx button:hover{
  background-color: #c21944;
  color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  left: 10vh;
}

.imgBx{
  grid-area: image;
  top: 0;
  left: 0;
  background: url("/HTML/images/1.jpg") center;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.videoBx{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.videoBx iframe{
  position: absolute;
  top: 0;
  left :0;
  width: 100%;
  height: 100%;
}

/* 2nd Section */
#charactershowcase{
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.showcase{
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 100%;
}
.showcase h2{
  color: #fff;
  font-size: 3.5em;
  font-weight: 700;
  margin-top: 8%;
  margin-left: 5%;
  z-index: 1;
}

.subtitle{
  position: absolute;
  margin-left: 5%;
}

.abilities{
  position: absolute;
  font-weight: 700;
  margin-left: 5%;
  bottom: 9%;

}

.ayakaheading{
  position: absolute;
  font-weight: 700;
  margin-left: 5%;
  bottom: 65%;
  margin-bottom: 1%;
}

.showcase h4{
  color: #2cbcc9;
  font-family: 'HYWenHei-85W';
  font-size: 1em;
  z-index: 1;
}

.cryoshowcase{
  display: flex;
  fill: #9fd6e3;
  width: 20vw;
  height: 20vh;
  position: relative;
  bottom: 14%;
  left: -4%;
  z-index: 0;
  transform: rotate(45deg);
  opacity: 0.2;
}

.ayaka{
  display: flex;
  width: 50%;
  position: absolute;
  z-index: 0;
  left: 68%;
  top: 50%;
  cursor: pointer;
}

.ayakainfo{
  color: #fff;
  position: absolute;
  bottom: 55%;
  right: 49.95%;
  margin: 0 0 0 10px;
  width: 45%;
  font-size: 1em;
  letter-spacing: 1.6px; 
}

.normalattackicon{
  display: block;
  position: relative;
  width: 5vw;
  height: 13vh;
  padding: 0;
  margin: 0;
  top: 10%;
}

.spacer{
  aspect-ratio: 960 / 540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.layer1{
  background-image: url("/HTML/svg/waves.svg");
}

/*3rd section */
.cities{
  position: relative;
  background-color: white;
  padding: 5rem;
  width: 50%;
  z-index: -1;
}

.citiesimg{
  position: relative;
  background-color: #000;
  padding: 5rem;
  width: 50%;
  z-index: 0;
}

/*4th section */
#inazuma{
  grid-area: link;
  place-self: end center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#inazuma img{
  opacity: 0.8;
  max-width: 11em;
  max-height: 11em;
  position: relative;
  z-index: 0;

}

#inazuma img:hover{
  opacity: 1;
  max-width: 11.5em;
  max-height: 11.5em;
}

#inazuma.active{
  display: none;
}

.text_install{
  display: none;
  grid-area: link;  
  place-self: end center;
}

#text_install a{
  color: #ccbda0;
  font-weight: 800;
  font-size: 68px;
  background-image: linear-gradient(90deg, #c21944, #1944c2);
  background-size: 0% 6px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
  z-index: 2; 
  position: relative;

}

#text_install a:hover{
  background-size: 100% 6px;
}

.elements{ 
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1d1c21;
  position: relative;
  grid-area: elements;
  place-self: center;
  z-index: 1;
  display: inline-flex;
  max-width: 18em;
  margin-bottom: 2em;
}

.credits{
  position: relative;
  grid-area: credits;
  place-self: end center;
  top: 2%;
  z-index: 1;
  margin-bottom: -2.5em;

}

.credits h4{
  color: #ccbda0;
  font-size: 18px;
  font-weight: 500;
  font-family: HYWenHei-85W;
}

.credits_text{
  grid-area: text;
  place-self: end center;
  text-align: center;
  margin-bottom: 0.2em;
  line-height: 120%;
}

.credits_text p{
  line-height: 120%;
  color: #ccbda0;
  font-size: 14px;
  font-family: HYWenHei-85W;
}

.credits_text a{
  color: #ccbda0;
  font-size: 14px;
  font-weight: 600;
  font-family: HYWenHei-85W;  
  background-image: linear-gradient(90deg, #c21944, #1944c2);
  text-decoration: none;
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.credits_text a:hover{
  background-size: 100% 3px;
}

.line{
  width: 100%;
  color: #5a5a5a;
  grid-area: elements;
  place-self: center;
  z-index: 0;
  opacity: 0.5;
  overflow: hidden;
  margin-bottom: 2em;
}

.contentBx4{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: [row1-start] 50% [row1-end row2-start] 20% [row2-end row3-start] 15% [row3-end row4-start] 8% [row4-end];
  grid-template-areas: 
    "link link link"
    "credits credits credits"
    "text text text"
    "elements elements elements";
  justify-content: center;
  align-items: center;
  background-color: #1d1c21;
  width: 100%;

}

/*  Footer */
footer{
  background-color: #1d1c21;
  text-align: center;
  font-family: HYWenHei;
  color: #fff;
  border-top: 1px solid #5a5a5a;
  box-shadow: 0px -2px 3px #f1f1f1;
  padding: 2rem;
}

/* Arrow Icon */
.scroll-up{
  position: fixed;
  right: 1%;
  bottom: 3%;
  cursor: pointer;
  fill: #fff;
}

.arrow_icon{
  background-color: transparent;
  width: 3rem;
  height: 3rem;
}

.arrow_icon:hover{
  scale: 1.1;
}
/*  Animation */

reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease;
}
.active.fade-left {
  animation: fade-left 1s ease;
}
.active.fade-right {
  animation: fade-right 1s ease;
}
.arrow_icon.active{
  animation: arrow 1s linear;
}


@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes arrow {
  0%{
    transform: translateY(5px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }

}

/* Media Queries */

@media (max-width: 1328px) {
  #navbar{
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

  } 
  #navbar.active{
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }

  #navbar ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .text_logo{
    display: none;

  }
  .logo{
    position: relative;
    left: 75%;
  }
  #bg-video{
    width: 200vw;
    left: -74%;
  }
  .bg-text{
    text-align: center;
  }

  .bg-text h1{
    position: relative;
    top: 0;
    font-size: 40px;
    line-height: 50px; 
    font-weight: 700; 
    text-shadow: 2px 5px 20px #000;
  }

  .bg-text small{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}

@media (max-width: 720px) {
  .text_logo{
    font-size: 3vw;
  }
  .credits_text{
    margin-bottom: 0%;
    margin-top: 40em;
  }
  
}

@media (max-width: 1280px) {
  .text_logo{
    font-size: 3vw;
  }
}

@media (min-width:420px) {
  html{
    scroll-snap-type: y mandatory;
  }
  
  section{
    scroll-snap-align: start;

  }
  
}